/* Search.css */
.search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: auto;
  background-color: #f5f5f5; 
  color: #333; 
  transition: border-color 0.3s; 
}

.search-input:hover {
  border-color: #007bff; 
}

.search-input:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.search-container {
  text-align: center; 
  margin-top: 20px; 
}

.voice-button {
  background-color: #007bff; /* Change the background color */
  color: #fff; /* Change the text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Adjust margin as needed */
}

.voice-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}