.add-favorite {
    background-color: #afc5b0; 
    color: black;
  }
  
  .remove-favorite {
    background-color: #f44336; 
    color: white;
  }
  
  .favorite-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
 .container{
  color: azure;
 }
  
  
  