*{
    margin: 0;
    padding: 0;
}

.mySign .form-signup{
    margin: 0 auto;
    max-width: 700px;
    background-color: #a4b0be;
    padding: 20px;
    border: 2px solid #2f3542;
    border-radius: 2%;
    opacity: 0.7;
   
}
.mySign .form-group{
    font-size: 140%;
    font-weight: bold;
    text-align: left;
    margin:10px 20px;
}
.mySign  .form-signup h2{
    text-align: center;
    font-size: 300%;
   
}
.mySign .form-signup p{
    text-align: center;
    font-size: medium;
    font-weight:600;
    margin: auto;
}
.mySign .form-group input{
    background-color: #dfe4ea;
    border: 2px solid #2f3542;
    transition: 0.5s;
    
}
.mySign .form-group input:hover{
    background-color: #ffa502;
    border: 2px solid #2f3542;
    
}
.mySign .form-group input:hover::placeholder{
    color: #000000;
    font-weight: 500;
}

.mySign .form-group input::placeholder{
color: #747d8c;
opacity: 0.9;
font-weight: 500;
transition: 0.5s;
}

.mySign .btn{
    background-color: #2f3542;
    color: white;
    border: 2px solid #2f3542;
    transition: 0.5s;
}
.mySign .btn:hover{
    background-color: #ffa502;
    border: 2px solid #2f3542;
}
.mySign .center{
    text-align: center;
}

/* blue => #0275d8 */